@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.ttf');
    font-weight: normal;
    font-style: normal;
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* General Demo Style */
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #333333;
	font-weight: 400;
	font-size: 15px;
	overflow-y: scroll;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
	padding: 20px 60px 10px 60px;
	position: relative;
	display: block;
    text-align: left;
    background-color: #00dded;
    height: 100px;
}

header #logo{
	float:left;
	margin-right: 100px;
}

header #feed{
	opacity: 0.5;
	float: left;
	margin-top: 20px;
	margin-left: 700px;
	margin-right: 20px;
}
header #feed:hover{
	opacity: 1;
}
header #posko{
	opacity: 0.5;
	float:left;
	margin-top: 17px;
	margin-left: 20px;
	margin-right: 20px;
}
header #posko:hover{
	opacity: 1;
}
header #map{
	opacity: 0.5;
	float:left;
	margin-top: 10px;
	margin-left: 5px;
}
header #map:hover{
	opacity: 1;
}
.keterangan{
	padding: 20px 60px 10px 60px;
	position: relative;
	display: block;
    text-align: left;
    background-color: #4d4d4d;
    height: 75px;
}
.keterangan #post{
	float:left;
}
.keterangan #user{
	float:left;
	margin-left: 780px;
}
#post{
	background: url(../images/feed/post.png) no-repeat top left;
	border: none;
	width:150px;
	height:30px;
}
#komen{
	margin-left: 250px;
	border: none;
	color: #3c3c3c;
	width:50px;
	height:20px;
}
#rss{
	border: none;
	color: #3c3c3c;
	width:50px;
	height:20px;
}
#like{
	border: none;
	color: #3c3c3c;
	width:50px;
	height:20px;
}
#fb{
	background: url(../images/home/sign-facebook.png) no-repeat top left;
	border: none;
	width:263px;
	height:53px;
	margin-top:10px;
}
#twitter{
	background: url(../images/home/sign-twitter.png) no-repeat top left;
	border: none;
	width:263px;
	height:53px;
	margin-top:10px;
}
.main{
	padding: 20px 60px 10px 60px;
	position: relative;
	display: block;
}
#tengah{
	width: 100%;
	height: 100%;
	margin-left:300px;
}
#side{
	margin-top: 20px;
	float:left;
	width: 100px;
	height: 100%;

}
#feeds{
	float: left;
	border-radius: 20px;
	background-color: #fff;
	width: 460px;
	height: 100%;
	padding: 25px;
	text-align: left;
}
#feeds h1{
	font-family: "Helvetica";
}
#feeds p{
	font-family: "Segoe UI";
}
#feeds h1 span{
	margin: 10px;
	color: #3c3c3c
}
#feeds h3{
	font-size:10px;
}
#loginform{
	margin-top: 100px;
	border-radius: 20px;
	background-color: #00dded;
	width: 350px;
	height: 100%;
	padding: 25px;
}
.container > footer{
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #0A1B2A; 
}
.container > footer h1{	margin-top:10px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #7cbcd6;
	text-align: right;
}